*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #dbdbdb;
    padding: 35px 30px;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    width: 100%;
    height: 80px;
    /* background-color: red; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    margin-bottom: 10x;
}
#nav1{
    height: 100%;
    width: 20%;
    background-color: #d89c8a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 10px;
}
#nav1-i{
    font-size: 50px;
    color: #fff;
}
#nav1-ii{
    font-size: 27px;
    color: #fff;
}
#nav2{
    height: 100%;
    width: 25%;
    background-color: #7d6f66;
    position: relative;
    border-radius: 10px;
    margin: 10px;
}
#nav2-i{
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 30px;
    top: 25%;
}
#nav3{
    height: 100%;
    width: 55%;
    background-color: #7d6f66;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
#nav3-i{
    color: #fff;
}
#nav3-ii{
    color: #fff;
}
#nav3-iii{
    color: #fff;
}
#hero-section{
    height: calc(100% - 80px);
    width: 100%;
    /* background-color: red; */
    display: flex;
    border-radius: 10px;
}
#hero-left{
    height: 100%;
    width: 52%;
    /* background-color: blue; */
    margin: 1.2em;
    border-radius: 10px;
    padding: 10px 10px;
}
#hero-left-top-content{
    height: 130px;
    width: 100%;
    
    background-color: #575321;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-left-top-content h1{
    font-size: 45px;
}
#hero-left-center{
    height: 80px;
    width: 100%;
    /* background-color: rgb(207, 203, 203); */
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}#hero-left-center-left{
    height: 100%;
    width: 25%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}
#hero-left-center-center{
    height: 100%;
    width: 40%;
    /* background-color: rgb(173, 173, 201); */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
#hero-left-center-right{
    height: 100%;
    width: 35%;
    background-color: #a57c76fb ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-left: 5px;
}
#twitter{
    font-size: 20px;
    color: #a57c76fb ;
}
#whatsapp{
    font-size: 20px;
    color: #a57c76fb ;
}
#facebook{
    font-size: 20px;
    color: #a57c76fb ;
}
#instagram{
    font-size: 20px;
    color: #a57c76fb ;
}
#hero-right{
    height: 100%;
    width: 48%;
    background-color: aqua;
    border-radius: 10px;
    margin: 1.2em;
}
.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-right img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit:cover;
    border-radius: 10px;
    
}
#hero-left-bottom{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.hero-left-bottom-one{
    background-color: #dcaf92;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.hero-left-bottom-two{
    background-color: #575321;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.hero-left-bottom-three{
    background-color: #a57c76fb;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
